

<div class="site">
  <nav class="site-nav flex-center">
    <ul>
    
  <li><button class="active btn" (click)="shift(1)">News</button></li>
  <li><button class="active btn" (click)="shift(2)">Contact</button></li>
  <li><button class="active btn" (click)="shift(3)">About</button></li>
</ul>
  </nav>
  <main class="site-content">
    <header class="content-header flex-center">
      <h1 class="section-title">HEADER</h1>
    </header>
    <section class="content-topic">
      <!-- main body -->
      <app-new-program *ngIf="check1"></app-new-program>
      <app-manage-application *ngIf="check2"></app-manage-application>
      <app-feedback *ngIf="check3"></app-feedback>
    </section>
  </main>
</div>


