<!--<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>-->

<div class="site">
  <nav class="site-nav flex-center">
    <ul>
    <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
  </nav>
  <main class="site-content">
    <header class="content-header flex-center">
      <h1 class="section-title">HEADER</h1>
    </header>
    <section class="content-topic">
      <!-- main body -->
      <app-new-program></app-new-program>
      <hr>
      <h2>Programs That you've created</h2>
      <app-old-program></app-old-program>
    </section>
  </main>
</div>


