



<div class="site">
  <nav class="site-nav flex-center">
   <!-- NAV CONTENT -->
  </nav>
  <main class="site-content">
    <header class="content-header flex-center">
      <h1 class="section-title">HEADER</h1>
    </header>
    <section class="content-topic">
      <!-- main body -->
      <h2>Heading of Feedback</h2>
      <p>Feedback Details</p>
      <!--Textarea with icon prefix-->
      <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <textarea type="text" id="form8" class="md-textarea"></textarea>
        <label for="form8">Icon Prefix</label>
      </div>
    </section>
  </main>
</div>


